<!--
 * Citation for handlebars: Used the NodeJS starter app as a base for setting up the Handlebars pages. Used Handlebars documentation for further adjustment.
 * Date: 03/17/2025
 * Adapted from: OSU CS340 NodeJS Starter App
 * Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data , https://handlebarsjs.com/guide/#what-is-handlebars
-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTF Competition Management System</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <div class="container">
        <nav class="main-nav">
            <a href="/">Home</a>
            <a href="/teams">Teams</a>
            <a href="/participants">Participants</a>
            <a href="/challenges">Challenges</a>
            <a href="/scores">CTF Scores</a>
        </nav>

        {{{body}}}
    </div>
</body>
</html>
