<!--
 * Citation for handlebars: Used the NodeJS starter app as a base for setting up the Handlebars pages. Used Handlebars documentation for further adjustment.
 * Date: 03/17/2025
 * Adapted from: OSU CS340 NodeJS Starter App
 * Source URL: https://github.com/osu-cs340-ecampus/nodejs-starter-app/tree/main/Step%204%20-%20Dynamically%20Displaying%20Data , https://handlebarsjs.com/guide/#what-is-handlebars
-->

<h1>Update Challenge</h1>

<form id="updateChallenge" action="/challenges/update" method="POST">
    <input type="hidden" id="challengeId" name="challengeId" value="{{challenge.challenge_id}}">

    <label for="challengeName">Challenge Name:</label><br>
    <input type="text" id="challengeName" name="challengeName" value="{{challenge.challenge_name}}" required><br>

    <label for="maxPoints">Max Points:</label><br>
    <input type="number" id="maxPoints" name="maxPoints" value="{{challenge.max_points}}" min="0" required><br>

    <label for="difficulty">Difficulty:</label><br>
    <select id="difficulty" name="difficulty" required>
        <option value="Easy" {{#if (eq challenge.difficulty "Easy")}}selected{{/if}}>Easy</option>
        <option value="Intermediate" {{#if (eq challenge.difficulty "Intermediate")}}selected{{/if}}>Intermediate</option>
        <option value="Hard" {{#if (eq challenge.difficulty "Hard")}}selected{{/if}}>Hard</option>
    </select><br>

    <button type="submit">Update Challenge</button>
    <a href="/challenges" class="back-link">Cancel</a>
</form>
